*.py[cod]
__pycache__/
*.so
*.dll
*.dylib
*.pyd
*.pyo


env/
venv/
ENV/
.venv/
env.bak/
venv.bak/


.pytest_cache/
.tox/
.cache/
coverage/
.coverage
*.cover
coverage.xml
nosetests.xml


.mypy_cache/
.dmypy.json
dmypy.json


*.log
*.sqlite3
*.db
*.sqlite
*.sql


.idea/
.vscode/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db


*.env
.env.*


*.egg
*.egg-info/
.eggs/


Pipfile
Pipfile.lock


build/
dist/
*.egg-info/
.installed.cfg
*.egg


*.whl


pip-wheel-metadata/
__pypackages__/


.vscode/settings.json


*.tmp
*.temp
*.swp
